# shellcheck disable=all

# Navigating
alias ..="cd .."

# Git
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gc="git commit"
alias gp="git push"
alias gl="git pull"
alias gco="git checkout"
alias gb="git branch"
alias glog="git log --oneline --graph --decorate -20"

# Common directories
alias p="cd ~/projects"
alias dots="cd ~/projects/dots"

# Be polite
alias please='sudo'

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Always use color output for `ls` (macOS uses -G for color)
alias ls="command ls -G"
export LSCOLORS='gxbgcxdxbxegedabagacad'

# Colored grep (GREP_OPTIONS is deprecated)
alias grep="grep --color=auto"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

alias astro='nocorrect astro'
