# shellcheck disable=all

# Kill process on a port
# Usage: killport 3000
function killport() {
	lsof -ti:"$1" | xargs kill -9
}

# Use Git's colored diff when available
if command -v git &>/dev/null; then
	function diff() {
		git diff --no-index --color-words "$@"
	}
fi

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8000}"
	sleep 1 && open "http://localhost:${port}/" &
	python3 -m http.server "$port"
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
function json() {
	if [ -t 0 ]; then # argument
		python3 -m json.tool <<< "$*" | pygmentize -l javascript
	else # pipe
		python3 -m json.tool | pygmentize -l javascript
	fi
}
