"*":
  core:
    disabledPackages: [
      "pigments"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "an-old-hope-syntax"
    ]
  editor:
    fontFamily: "Operator Mono, Monaco"
    invisibles: {}
    preferredLineLength: 100
  "exception-reporting":
    userId: "c5672042-1eab-f85a-5b1b-cbed86e612ee"
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  react: {}
  "sync-settings":
    _analyticsUserId: "a5efce43-8508-472e-994d-ac0a7efc29cc"
  welcome:
    showOnStartup: false
